/*
Responsive: 320px x 480px
*/

/* 
0 - KULLANILAN RENKLER
*/
:root {
    --bg-1: #161615;
    --bg-2: #1d1f20;
    --txt-color: white;
    --red-color: #c50000;
    --red-hover-color: #ea6c6c;
    --red-clicked-color: #e6c59c;
}

/*
0.1 - TEMEL AYARLAR
*/
* {
    padding: 0;
    margin: 0;
    color: var(--txt-color);
    box-sizing: border-box;
}

/*
0.2 - FONT SEÇİMİ
*/
body {
    font-family: "";
}

::selection {
    background: var(--red-color);
}

/*
1 - TAM EKRAN SLAYT KISMI
*/
header {
    position: relative;
}

.header-slider {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;

    overflow-x: hidden;
    overscroll-behavior-inline: contain;
    overflow-y: hidden;
}

.header-one {
    background: url("pictures/uzay.jpeg") no-repeat center;
}

.header-two {
    background: url("pictures/koltuk.jpeg") no-repeat center;
}

.header-one, .header-two {
    /* background-size: cover; */
    background-size: cover;
    animation: zoomin 10s ease-in infinite;
    transition: all .5s ease-in-out;
    
    
    height: 80vh;
    position: relative;
    cursor: grab;
}

/*
@keyframes zoomin {
    0% {
        transform: translate(2, 2);
    }
    50% {
        transform: ;
    }
    100% {
        transform: ;
    }
}
*/

.header-content {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: yellow;
    padding: 60px;
}

.header-content * {
    background-color: darkolivegreen;
    margin: 20px;
}

.header-content button {
    background-color: darkred;
    padding: 10px;
    cursor: pointer;
}

.header-content button:hover {
    background-color: green;
}

.header-content button:active {
    background-color: yellow;
}


/* 
1.1 - MENÜ BÖLÜMÜ
*/
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    background: linear-gradient(#000, #ffffff00);
}

.logo {
    width: 240px;
    height: auto;
    margin-right: auto;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: left 20px;
    flex: 0 0 auto;
}

.links a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}

@media screen and (max-width: 1020px) {
    .links {
        display: none;
    }
}

.offer {
    padding: 10px 40px;
    background-color: var(--red-color);
    text-decoration: none;
    color: white;
    border-radius: 20px;
    border: 0;
    flex: 0 0 auto;
}

.offer:hover {
    cursor: pointer;
    background-color: var(--red-hover-color);
}

.offer:active {
    background-color: var(--red-clicked-color);
}

@media screen and (max-width: 480px) {
    .logo {
        width: 100px;
    }

    .offer {
        width: 50px;
        font-size: 10px;
    }
}

/* 
2 - BİZİ YAKINDAN TANIYIN BÖLÜMÜ
*/
.info {
    background-color: var(--bg-1);
    padding: 2rem;
}

.info h2 {
    font-size: larger;
    font-weight: normal;
}

.info p {
    padding: 10px 0px;
}

/* 
3 - NELER YAPIYORUZ SLAYT BÖLÜMÜ
*/
.slider {
    background-color: var(--bg-2);
    padding: 2rem;
}

/* 
4 - HİZMETLERİMİZ BÖLÜMÜ
*/
.services {
    background-color: var(--bg-1);
}

.services > div:first-of-type {
    display: flex;
    padding: 2rem;
}

.services > div:first-of-type > button {
    margin-left: auto;
    background-color: #ffffff00;
    border: white 1px solid;
    border-radius: 24px;
    width: 120px;
    height: 34px;
    flex: 0 0 auto;
}

.services > div:first-of-type > button:hover {
    cursor: pointer;
    background-color: #7f9aaa;
    border: none;
}

.imagelinks {
    display: flex;
    padding: 2rem;
    gap: 50px;
    flex-wrap: wrap;
}

.imagelinks div {
    background-color: #e6c59c;
}

.imagelinks img {
    width: fit-content;
    height: 50px;
}

/* 
5 - LOGOLAR BÖLÜMÜ
*/
.logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--bg-2);
    width: 100%;
    height: auto;
    padding: 2rem;
}

/* 
6 - BİLGİ ALIN FORM BÖLÜMÜ
*/
footer {
    background-color: gray;
    padding: 2rem;
}

.getInfoDiv {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.line {
    background-color: var(--txt-color);
    height: 80px;
    width: 2px;
    border-radius: 10px;
}

.nameinput {
    background-color: red;
    
}